@use "sass:color";

$main-color: rgb(31, 141, 214);
$secondary-color: rgb(66, 184, 221);

$body-text: #333333;
$body-background: #e6e6e6;
$dark-text: #2d3e50;
$light-text: #aaaaaa;
$light-background: #cccccc;
$dark-background: #2d3e50;
$disabled-text: #999999;

$color-success: rgb(28, 184, 65);
$color-success-bg: color.adjust($color-success, $lightness: 50%);

$color-error: rgb(202, 60, 60);
$color-error-bg: rgb(255, 212, 209);

$color-warning: rgb(223, 117, 20);
$color-warning-bg: color.adjust($color-warning, $lightness: 30%);

$gray-light: $body-text;
$gray-lighter: color.adjust($dark-text, $lightness: 70%);

$bp-small: 600px;

$link-color: $main-color;
$link-visited-color: $main-color;
$link-hover-color: color.adjust($link-color, $lightness: -15%);